{% extends 'base.html' %}
{% block title %}View Notes{% endblock title %}
{% block content %}

<script src="https://cdnjs.com/libraries/pdf.js"></script>
  <div class="card-duo p-5 text-center mt-5">
    <h1 class="mb-4">{{ notes.title }}</h1>

  <p>{{ notes.description }}</p>
  <hr>


  {% comment %} <a href="{% url 'notes:edit_note' note.pk %}" class="btn-duo-secondary btn-sm btn-duo">Edit</a>
  <a href="/notes/delete/{{notes.id}}" class="btn-duo-danger btn-sm btn-duo">Delete</a> {% endcomment %}
</div>
{% endblock %}
